<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
    <div class="container">
    <a href="index.html" class="navbar-brand">Car Tinting</a>
  
    <a id="home-link" class="home-link" href="/dashboard"><button>Home</button></a>
    
    
    </div>
  </nav>
<section id="reviews-section" class="p-5 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="card-body text-center">
           <div class="col-md"><div class="h1 pb-1 mb-3">
       <i class="bi bi-list-columns-reverse"></i>
          </div>
        </div>
            <h1>Reviews</h1>
          <p>
           Here is our latest reviews about our Tinting service!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="showcase-section" class="p-5 shadow-lg ">
    <div class="container">
      <div class="row text-center">
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center"> 
                <h2 class="card-title mb-3">
                  Barbra G.
                </h2>
              
                <img src="/images/barbra-g.jpeg" class="img w-100 h-50 rounded-circle">
              
              <p class="card-text pt-5">
               Tinting services were fantastic, I would come back to get my other cars tinted for sure!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <h2 class="card-title mb-3 ">
                Fred I.
              </h2>
              <img src="/images/fred-i.webp" class="img w-100 h-50 rounded-circle">
              <p class="card-text pt-5">
                 I got my car tinted here and it was the most incredible experience I have ever had in my life. They treated me very well when I was at their establishment. I would go again!
              </p>
              
        </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <h2 class="card-title mb-3">
                Sally S.
              </h2>
              <img src="/images/sally-s.jpeg"  class="img w-100 h-50 rounded-circle">
              <p class="card-text pt-5">
                    This bmw has no after market tint, meaning that the windows are factory tinted to around 70%, which is standard on most dipped factory glass. If you like driving around in a fish bowl this would be for you!
              </p>
      </div>
    </div>
        </div>
      </div>
  </section>
</body>